@model _GameModel 
@using PokeMovedle.Models.Moves
@{
    Move move = Model.guessedMove;
    Move correctMove = (await MoveManager.Instance()).move;

    string Indicator(int? a, int? b) 
    { 
        if (a == b) { return ""; }
        if (a != null && b != null) {
            if (a > b) {
                return "▼";
            }
            if (a < b) {
                return "▲";
            }
        }
        if (a == null && b != null) {
            return "▲";
        }
        if (a != null && b == null) {
            return "▼";
        }
        return "";
    }

    string TableColour<T>(T a, T b) { 
        if (a == null && b == null) return "table-success";
        if (a == null) return "table-danger";
        if (b == null) return "table-danger";
        return a.Equals(b) ? "table-success" : "table-danger";
    }
}

<tr>
    <td class="@TableColour(move.name, correctMove.name)">@Move.FormatName(move.name)</td>
    <td class="@TableColour(move.type.name, correctMove.type.name)">@move.type.name.ToString()</td>
    <td class="@TableColour(move.power, correctMove.power)">@move.power @Indicator(move.power, correctMove.power)</td>
    <td class="@TableColour(move.pp, correctMove.pp)">@move.pp @Indicator(move.pp, correctMove.pp)</td>
    <td class="@TableColour(move.accuracy, correctMove.accuracy)">@(move.accuracy != null ? move.accuracy.ToString() + '%' : "") @Indicator(move.accuracy, correctMove.accuracy)</td>
    <td class="@TableColour(move.damageClass.name, correctMove.damageClass.name)">@move.damageClass.name.ToString()</td>
</tr>
